                                    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
                                    * {
                                        margin: 0;
                                        padding: 0;
                                        box-sizing: border-box;
                                        font-family: 'Poppins', sans-serif;
                                    }
                                    
                                    body {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        height: 100vh;
                                        background-image: url(../images/watherBg.jpg);
                                        background-position: center center;
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        /* background: #43AFFC; */
                                    }
                                    
                                    .wrapper {
                                        width: 400px;
                                        background-color: #fff;
                                        border-radius: 9px;
                                    }
                                    
                                    .wrapper header {
                                        color: #43affc;
                                        padding: 16px 15px;
                                        border-bottom: 1px solid #bfbfbf;
                                        display: flex;
                                        align-items: center;
                                        font-size: 20px;
                                        font-weight: 500;
                                    }
                                    
                                    .btnBack .iconLeft {
                                        cursor: pointer;
                                        font-size: 20px;
                                        margin-right: 10px;
                                        color: #43affc;
                                    }
                                    
                                    .btnBack {
                                        outline: none !important;
                                        border: none !important;
                                        background-color: transparent;
                                    }
                                    
                                    .wrapper .input-part {
                                        margin: 20px 25px 30px;
                                        display: block;
                                    }
                                    
                                    .input-part :where(input,
                                    button) {
                                        width: 100%;
                                        height: 55px;
                                        border: none;
                                        outline: none;
                                        border-radius: 7px;
                                    }
                                    
                                    button {
                                        background-color: #43affc;
                                        color: #fff;
                                        font-size: 18px;
                                        font-weight: 500;
                                    }
                                    
                                    .input-part input {
                                        border: 1px solid #bfbfbf;
                                        padding-left: 10px;
                                    }
                                    
                                    .input-part .seprator {
                                        height: 1px;
                                        width: 100%;
                                        margin: 20px 0;
                                        background-color: #ccc;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                    
                                    .wrapper .input-part {
                                        margin: 20px 25px 30px;
                                    }
                                    
                                    .wrapper .seprator::before {
                                        content: 'or';
                                        padding: 0 10px;
                                        background-color: #fff;
                                        color: #bfbfbf;
                                    }
                                    
                                    .input-part .info-text {
                                        border-radius: 7px;
                                        padding: 10px 13px;
                                        font-size: 17px;
                                    }
                                    
                                    .info-text.error {
                                        display: block;
                                        background: #f8d7da;
                                        border: 1px solid #f5c6cb;
                                        color: #721c24;
                                    }
                                    
                                    .info-text.pending {
                                        display: block;
                                        background-color: #d1ecf1;
                                        border: 1px solid #bee5eb;
                                        color: #0c5460;
                                    }
                                    
                                    .input-part input:is(:focus,
                                     :valid) {
                                        border: 2px solid #43AFFC;
                                    }
                                    
                                    .wrapper.active .input-part {
                                        display: none;
                                    }
                                    
                                    .wrapper.active header {
                                        font-size: 30px;
                                        margin-left: 5px;
                                    }
                                    /* */
                                    
                                    .wrapper .weather-part {
                                        margin: 30px 0 0;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        flex-direction: column;
                                    }
                                    
                                    .weather-part img {
                                        max-width: 125px;
                                    }
                                    
                                    .weather-part .temp {
                                        display: flex;
                                        font-size: 70px;
                                        font-weight: 500;
                                    }
                                    
                                    .weather-part .temp .number {
                                        font-size: 70px;
                                        font-weight: 600;
                                    }
                                    
                                    .weather-part .temp .degree {
                                        font-size: 70px;
                                        font-weight: 600;
                                        margin-left: 13px;
                                        display: block;
                                    }
                                    
                                    .weather-part .weather {
                                        font-size: 21px;
                                        font-weight: 500;
                                        text-align: center;
                                        margin: -5px 20px 15px;
                                    }
                                    
                                    .wrapper.active .weather-part {
                                        display: flex;
                                    }
                                    
                                    .wrapper .weather-part {
                                        display: none;
                                    }
                                    
                                    .weather-part .location {
                                        font-size: 21px;
                                        margin-bottom: 20px;
                                        display: flex;
                                        align-items: center;
                                    }
                                    
                                    .weather-part .location .locicon {
                                        font-size: 22px;
                                        margin-right: 7px;
                                    }
                                    
                                    .bottom-details {
                                        width: 100%;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        border-top: 1px solid #bfbfbf;
                                        /* padding-top: 15px; */
                                    }
                                    
                                    .bottom-details .column {
                                        width: 100%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        padding-top: 15px;
                                    }
                                    
                                    .bottomIcon {
                                        font-size: 30px;
                                        color: #43AFFC !important;
                                        margin-right: 10px;
                                        margin-top: -10px;
                                    }
                                    
                                    .column.humidity {
                                        border-left: 1px solid #bfbfbf;
                                    }
                                    
                                    .column.humidity .number2 {
                                        font-size: 18px;
                                        font-weight: 500;
                                    }
                                    
                                    .column.feels .number {
                                        font-size: 18px;
                                        font-weight: 500;
                                    }
                                    
                                    .column.feels .degree {
                                        font-size: 18px;
                                        font-weight: 500;
                                        margin: 0;
                                        padding: 0 2px 0 1px;
                                    }
                                    
                                    .details p {
                                        font-size: 14px;
                                        margin-top: -4px;
                                    }